{
  "presets": [
    ["env", {
      "modules": false,
      "cacheDirectory": true
    }]
  ],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["istanbul"]
    },
    "production": {
      "plugins": ["envify"],
      "presets": ["minify"]
    }
  }
}
