{
  "presets": [["env", {"targets": {"node": "current"}}]],
  "env": {
    "development": {
      "plugins": ["envify"],
    },
    "test": {
      "presets": ["env"],
      "plugins": ["istanbul"]
    },
    "production": {
      "plugins": ["envify"],
      "presets": ["minify"]
    }
  }
}
