{
  "presets": ["env"],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["istanbul"]
    },
    "production": {
      "plugins": ["envify"],
      "presets": ["minify"]
    }
  }
}
